:root{
    --purple: #E0E0E0;
    --muted-bg: #121212;
    --tex-white: #E0E0E0;
    --tex-black: #000000;
    --color-banner: #6a0dad;
    --color-remove:rgba(200, 15, 15, 0.852);
    --white-opacity: rgba(255, 255, 255, 0.1); 
    --tex:Helvetica Neue; 

  }


.fondo-mascota {
    position: fixed;
    top: -20%;
    top: -10%;
    transform: translateX(0); 
    width: 100vw;               
    height: 100vh;           
    object-fit: cover;        
    opacity: 0.8;            

    /* ⭐ Desvanecimiento inferior */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.656) 70%, transparent 100%);
    mask-image:linear-gradient(to bottom, black 70%, transparent 100%);

    pointer-events: none;
    z-index: -2;
  }